#若需输入空格时用;代替
s.old_name='Co_pay_PaymentSDK'
s.old_prefix='Co_pay_'
s.new_prefix='Re_new_','Test'#以,分割每一个前缀
s.in_path='https://gitlab.com/gomo_sdk/GOMOPayment.git'#目前仅支持git 

#以下配置无需多次修改所有SDK可共用一个

s.in_file_base_path='/Users/zy/WorkSpace/GOMO/Code/SDKShell/source'#代码文件的根目录
s.out_file_base_path='/Users/zy/WorkSpace/GOMO/Code/SDKShell/package'#打包时使用的临时根目录

s.sdk_file_base_path='/Users/zy/WorkSpace/GOMO/Code/SDKShell/framework'#framework压缩包的根目录
s.out_path='https://github.com/gomocommercial/frameworkArcive.git'#framework压缩包目前仅支持git

s.pod_spec_base_path='/Users/zy/WorkSpace/GOMO/Code/SDKShell/sdk_insulate_spec'#私有pod的配置根目录
s.pod_git_path='https://gitlab.com/gomo_sdk/sdk_insulate_spec.git'#pod私有库的Git地址
