s.old_name='Co_pay_PayNotificationSDK'
s.old_prefix='Co_pay_'
s.new_prefix='Re_new_','Test'#以,分割每一个前缀
s.in_path='https://github.com/ZYuwei/OldPayNotificaitonSDK.git'#目前仅支持git 
s.out_path='https://github.com/ZYuwei/NewPayNotificaitonSDK.git'#目前仅支持git

#以下配置无需多次修改所有SDK可共用一个
s.in_file_base_path='/Users/zy/WorkSpace/Test/ShellTest/source'#代码文件的根目录(多个SDK可共用一个)
s.sdk_file_base_path='/Users/zy/WorkSpace/Test/ShellTest/sdk'#sdk的根目录(多个SDK可共用一个)
s.out_file_base_path='/Users/zy/WorkSpace/Test/ShellTest/package'#打包时使用的临时根目录(多个SDK可共用一个)
